include README.md
include VERSION
recursive-include mapactionpy_controller/schemas/ *.schema
recursive-include mapactionpy_controller/example/ *
recursive-include mapactionpy_controller/task-templates/ *.mustache
